.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {
  padding: 30px;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
